/* PC版デザインここから */
@media screen and (min-width: 1300px) {
  body {
    width: 650px;
    max-width: 650px;
    margin: 0 auto;

    &:after {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
      background: linear-gradient(to bottom, #ff9dcb 0%, #fff 35%);
      z-index: -1;
    }
  }

  header {
    width: 30rem;
    height: 7rem;
    margin: 3rem auto 0;
    background-color: #fdf5f9de;
    border: solid  2px #707070;
    border-radius: 8px;
  }

  .info{
    width: 36rem;
    margin: 0 auto 6rem;
    background-color: #ffffff;
    border: 1px solid #f1f1f1;
    box-shadow: 2.5px 5px 5px #e9e9e9;
  }

  #infoTitle{
    text-align: center;
    font-size: 1.5rem;
    padding: 1.8rem 0 0;
    font-family: serif;
    font-weight: bold;
  }

  #infoSummary{
    margin: 1rem 2rem 1rem;
    padding: 1rem 0.5rem 0;
    border-top: 1px solid #565656;
    font-family: serif;
    font-weight: bold;
    line-height: 1.8rem;
  }

  #infoSmall{
    text-align: center;
    font-family: serif;
    font-weight: bold;
    margin: 2.5rem 0;
  }

  #file-preview {
    max-width: 300px;
    height: auto;
    margin: 40px auto 60px;
    box-shadow: 2.5px 5px 5px #e9e9e9;
  }

  #subTitle {
    margin: 0;
    padding-top: 1.5rem;
    font-size: 1.1rem;
    font-weight: bold;
    font-family: serif;
    text-align: center;
  }

  #mainTitle {
    margin: 0;
    padding-top: 0.6rem;
    font-size: 2.8rem;
    font-family: Monotype Corsiva, serif;
    text-align: center;
    font-weight: unset;
  }

  #topText {
    margin-top: 4.5rem;
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: serif;
    font-weight: bold;
  }

  #br {
    margin-bottom: 1rem;
  }

  .circles {
    display: flex;
    justify-content: center;
    margin: 4rem auto;
  }

  .spring {
    width: 25px;
    height: 25px;
    margin: 0px 10px;
    border-radius: 50%;
    background: #fa17a3;
    transition: 0.5s;
    transform: rotateY(0deg);
  }

  .circles:hover .spring:hover {
    transform: rotateY(360deg);
  }

  .summer {
    width: 25px;
    height: 25px;
    margin: 0px 10px;
    border-radius: 50%;
    background-color: #1778ff;
    transition: 0.5s;
    transform: rotateY(0deg);
  }

  .circles:hover .summer:hover {
    transform: rotateY(360deg);
  }

  .autumn {
    width: 25px;
    height: 25px;
    margin: 0px 10px;
    border-radius: 50%;
    background-color: #ff8f17;
    transition: 0.5s;
    transform: rotateY(0deg);
  }

  .circles:hover .autumn:hover {
    transform: rotateY(360deg);
  }

  .winter {
    width: 25px;
    height: 25px;
    margin: 0px 10px;
    border-radius: 50%;
    background-color: #50ba00;
    transition: 0.5s;
    transform: rotateY(0deg);
  }

  .circles:hover .winter:hover {
    transform: rotateY(360deg);
  }

  #small {
    font-size: 1rem;
    text-align: center;
    font-family: serif;
    font-weight: bold;
    margin: 1.5rem auto;
  }

  .PmakeResult {
    font-size: 1.6rem;
    text-align: center;
    font-family: serif;
    font-weight: bold;
    margin: 4rem auto 0;
  }

  #ansName {
    text-align: center;
    font-family: serif;
    font-weight: bold;
    font-size: 1.4rem;
    margin: 1.2rem auto 0;
  }

  #ansBtn {
    width: fit-content;
    margin: 70px auto;
    display: flex;
    align-items: center;
  }

  #ansText {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0.3rem 0 0.5rem;
    font-family: serif;
    font-weight: bold;
    text-align: center;
  }

  #pkResult {
    margin: 0 auto 0.5rem;
    font-family: serif;
    font-weight: bold;
    border-top: 1px solid #565656;
    font-size: 1rem;
  }

  #ppResult{
    margin: 0 auto;
    font-family: serif;
    font-weight: bold;
    border-top: 1px solid #565656;
    font-size: 1rem;
  }

  #fashionResult{
    margin: 0 auto;
    font-family: serif;
    font-weight: bold;
    border-top: 1px solid #565656;
    font-size: 1rem;
  }

  #advice {
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    margin: 2rem auto;
    padding: 1rem;
    border: 1px solid #f1f1f1;
    box-shadow: 2.5px 5px 5px #e9e9e9;
    background-color: #ffffff;
  }

  #canvasArea {
    margin: 4rem auto 2rem;
  }

  #submitBtn {
    margin: 1rem 3.5rem 1.5rem 1rem;
    padding: 10px 25px;
    border: none;
    border-radius: 40px;
    color: #ffffff;
    background-color: #565656;
    font-family: serif;
    font-weight: bold;
    cursor: pointer;
    font-size: 0.9rem;
  }

  #replayBtn {
    margin: 0 0 0 2rem;
    padding: 10px 25px;
    border: none;
    border-radius: 40px;
    color: #ffffff;
    background-color: #565656;
    font-family: serif;
    font-weight: bold;
    cursor: pointer;
    font-size: 0.9rem;
  }

  .btn {
    margin-right: 1rem;
  }

  #replayBtn:hover, #submitBtn:hover {
    background-color: #8d8d8d;
  }

  label {
    > input {
      display: none;
    }

    margin: 0 50px;
    padding: 10px 25px;
    border: none;
    border-radius: 40px;
    color: #ffffff;
    background-color: #565656;
    font-family: serif;
    cursor: pointer;
    font-size: 0.9rem;

    &:hover {
      background-color: #8d8d8d;
    }
  }

  .adviceColor {
    display: flex;
    justify-content: center;
    margin: 1rem auto;
  }

  .color {
    width: 30px;
    height: 30px;
    margin: 0px 10px;
    border-radius: 50%;
  }

  .ans {
    font-size: 24px;
    font-weight: bold;
  }

  #adviceAns {
    display: inline-block;
    width: 100%;
    margin-top: 1.5rem;
    text-align: center;
    font-size: 1rem;
  }

  .summary {
    display: inline-block;
    margin: 1rem 0.5rem 0.1rem;
    line-height: 1.6rem;
  }
}