<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#">

<head>
  <meta charset="utf-8" name="viewport" content="width=device-width,initial-scale=1">
  <meta property="og:title" content="診断結果">
  <meta property="og:type" content="article">
  <meta property="og:description" content="パーソナルカラーと顔の輪郭の2つの診断結果からあなたに似合うメイクや髪型を提案します！">
  <meta property="og:url" content="https://pmup.herokuapp.com/">
  <meta property="og:site_name" content="Personal make up 診断">
  <meta property="og:image" content="https://pmup.herokuapp.com/images/thumbnail.png">
  <meta name="twitter:card" content="summary_large_image">
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="{{ url_for('static',filename='/css/style.min.css') }}">
  <title>PersonalMake診断</title>
</head>

<body>
  <div class="contents">
    <header>
      <a href="#" onclick="LinkClick()">
        <p id="subTitle">あなたにあったスタイルを提案します！</p>
        <p id="mainTitle">Personal make-up</p>
      </a>
    </header>

    <p class="PmakeResult">診断結果</p>

    <div id="canvasArea">
      <canvas id="pkChart"></canvas>
      <p id="ansName">あなたの顔の輪郭は「<span id="name">{{kname}}</span>型」です。</p>
    </div>

    <div id="canvasArea">
      <canvas id="ppChart"></canvas>
      <p id="ansName">パーソナルカラーは「<span id="name">{{pname}}</span>」です。</p>
    </div>

    <div class="circles">
      <p class="spring"></p>
      <p class="summer"></p>
      <p class="autumn"></p>
      <p class="winter"></p>
    </div>

    <div id="advice">
      <p id="ansText"><span class="ans">{{kname}}型</span>さんのあなたに似合う髪型は...</p>
      <div id="pkResult">
      </div>
    </div>
    <div id="advice">
      <p id="ansText"><span class="ans">{{pname}}タイプ</span>のあなたに似合う色は...</p>
      <div id="ppResult">
      </div>
      <div class="adviceColor">
        <p class="color" id="color1"></p>
        <p class="color" id="color2"></p>
        <p class="color" id="color3"></p>
        <p class="color" id="color4"></p>
        <p class="color" id="color5"></p>
        <p class="color" id="color6"></p>
        <p class="color" id="color7"></p>
        <p class="color" id="color8"></p>
      </div>
    </div>
    <div id="advice">
      <p id="ansText"><span class="ans">{{pname}}タイプ</span>のあなたに似合うファションは...</p>
      <div id="fashionResult">
      </div>
    </div>

    <div id="ansBtn">
      <div class="btn">
        <a href="https://twitter.com/share?url=https%3A%2F%2Fpmup.herokuapp.com%2F&text=%E8%A8%BA%E6%96%AD%E3%81%97%E3%81%A6%E3%81%BF%E3%81%BE%E3%81%97%E3%81%9F%EF%BC%81%0A%E8%A8%BA%E6%96%AD%E3%81%95%E3%82%8C%E3%81%9F%E9%A1%94%E3%81%AE%E8%BC%AA%E9%83%AD%E3%81%AF{{kname}}%E3%81%A7%E3%80%81%E3%83%91%E3%83%BC%E3%82%BD%E3%83%8A%E3%83%AB%E3%82%AB%E3%83%A9%E3%83%BC%E3%81%AF{{pname}}%E3%81%A7%E3%81%97%E3%81%9F!%20&hashtags=%E6%8A%80%E8%82%B2%E5%B1%95"
          target="_blank" class="twitter-share-button">Tweet</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
      <div class="line-it-button" data-lang="ja" data-type="share-a" data-ver="3" data-url="https://pmup.herokuapp.com/"
        data-color="default" data-size="small" data-count="false" style="display: none;"></div>
      <script src="https://d.line-scdn.net/r/web/social-plugin/js/thirdparty/loader.min.js" async="async"
        defer="defer"></script>
    </div>
    <form name="form1" action="/ans" method="post">
      <input type="submit" value="もう一度診断する" id="replayBtn">
    </form>
  </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <script>
    //ここで結果を受け取り、任意の変数に代入する
    var pkAns = '{{kname}}';
    var ppAns = '{{pname}}';
    var pk1 = '{{pk1}}';
    var pk2 = '{{pk2}}';
    var pk3 = '{{pk3}}';
    var pk4 = '{{pk4}}';
    var pk5 = '{{pk5}}';
    var pp1 = '{{pp1}}';
    var pp2 = '{{pp2}}';
    var pp3 = '{{pp3}}';
    var pp4 = '{{pp4}}';
  </script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/ans.js') }}"></script>
</body>

</html>