<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
  <title>これは何麺だ？？</title>
</head>

<body>
  <div class="contents">
    <main>
      <h1>これは何麺だ？？</h1>
      <p id="ansName">これは<span id="name">{{p}}％</span>の確率で「<span id="name">{{name}}</span>」です。</p>
      <div id="actImg">
      </div>
      <div id="result">
      </div>
          <div id="btn">
            <div class="btns" id="twitter">
      <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large"
        data-text="診断してみました！" data-hashtags="サマーハッカソン" data-related="" data-show-count="false">Tweet</a>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
      <form action="/ans2" method="post">
        <input type="submit" value="もう一度あそぶ" class="btns">
      </form>

      <form action="/re" method="post">
        <input type="submit" value="ホームに戻る" class="btns">
      </form>
          </div>


  </div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/actList.js') }}"></script>

      <script>
        window.onload = function getActData() {
          //ここで結果を受け取り、任意の変数に代入する

          var ans = '{{name}}';

      //$.getJSON('actData.json', function (data) {
      $.getJSON("http://localhost:8000/js/mendata.json", function (data) {
        //↓actDataの配列内を検索
        for (var i = 0; i < Object.keys(data.mendata).length; i++) {
          //↓結果と一致するnameの各データを取得し、画面に出力する
          if (ans == data.mendata[i].name) {

            document.getElementById("actImg").innerHTML = '<img src = "http://localhost:8000/answer/' + data.mendata[i].name + '.jpg" alt="' + data.mendata[i].name + '" width="300">';
          }
        }
      })
    }


      </script>
</body>
</html>