<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
    <style>
      body {
        background: #ffc53c;
      }
    </style>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
  <title>がぞうであそぼ！</title>
</head>

<body>
  <img src="http://localhost:8000/answer/Asobo.png" ,alt="がぞうであそぼ！" width="300" id="topImg">

<div id="btn">
  <form action="/ans" method="post">
    <input type="submit" value="類似度診断であそぶ" class="btns">
  </form>

  <form action="/ans2" method="post">
    <input type="submit" value="この麺のどの麺であそぶ" class="btns">
  </form>
  </div>
</body>

</html>