<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#">

<head>
  <meta charset="utf-8" name="viewport" content="width=device-width,initial-scale=1">
  <meta property="og:title" content="Personal make up 診断">
  <meta property="og:type" content="website">
  <meta property="og:description" content="パーソナルカラーと顔の輪郭の2つの診断結果からあなたに似合うメイクや髪型を提案します！">
  <meta property="og:url" content="https://pmup.herokuapp.com/">
  <meta property="og:site_name" content="Personal make up 診断">
  <meta property="og:image" content="https://pmup.herokuapp.com/images/thumbnail.png">
  <meta name="twitter:card" content="summary_large_image">
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='/css/style.min.css') }}">
  <title>PersonalMake診断</title>
</head>

<body>
  <div id="overlay">
    <div class="cv-spinner">
      <span class="spinner"></span>
    </div>
  </div>
  <div class="contents">
    <a name="link"></a>
    <header>
      <p id="subTitle">あなたにあったスタイルを提案します！</p>
      <p id="mainTitle">Personal make-up</p>
    </header>
    <p id="topText"><span id="br">画像を入力するだけで</span><span id="br">あなたにあった髪型・メイクをご提案</span>コーディネートのご参考にどうぞ！</p>
    <div class="circles">
      <span class="spring"></span>
      <span class="summer"></span>
      <span class="autumn"></span>
      <span class="winter"></span>
    </div>
    <p id="small">なりたい私を叶えるコーデをみつけよう！</p>
    <div id="btn" class="upload">
      <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="file-sample">
          顔写真を選択
          <input type="file" name="image" accept="image/png,image/jpeg" id="file-sample">
        </label>
        <button type="submit" id="submitBtn" class="btn">診断する</button>
      </form>
      <img id="file-preview">
    </div>
    <div class="info">
      <h3 id="infoTitle">パーソナルカラーとは？</h3>
      <div id="infoSummary">
        <p id="infoP">肌や髪・瞳などの一人ひとりが生まれ持った色と雰囲気が調和した「あなたに似合う色」のことです。</p>
        <p id="infoP">パーソナルカラーは、イエローベースの春と秋、ブルーベースの夏と冬の4つに分類されます。</p>
        <img src="/images/color.png" alt="パーソナルカラーの説明" class="colorImg">
        <p id="infoP">パーソナルカラー診断では、マゼンタやローズピンクのように同じピンクでも「どんなピンクが似合うのか」を教えてくれます。</p>
        <p id="infoP">パーソナルカラーを身につけることで、顔色がよく見えたり、あか抜けて見えるなどの嬉しい効果がたくさんあり、あなたの魅力を自然に引き立てることができます。</p>
      </div>
      <h3 id="infoTitle">Personal make-upとは？</h3>
      <div id="infoSummary">
        <p id="infoP">画像を入力するだけで簡単にパーソナルカラーと顔の輪郭を診断することができます。この2つの診断結果からあなたに似合うメイクや髪型を提案します。</p>
      </div>
      <div class="circles">
        <span class="spring"></span>
        <span class="summer"></span>
        <span class="autumn"></span>
        <span class="winter"></span>
      </div>
      <p id="infoSmall">あなたに似合う色を見つけましょう！</p>
      <a href="#link"><button id="linkBtn" class="btn">さっそく診断する</button></a>
    </div>
  </div>
</body>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="/js/index.js"></script>

</html>