<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='/css/style.css') }}">
  <title>PersonalMake診断</title>
</head>

<body>
  <div class="contents">
    <header>
    <p id="subTitle">あなたにあったスタイルを提案します！</p>
    <p id="mainTitle">Personal make-up</p>
    </header>
    <p>画像を入力するだけで<br>あなたにあった髪型・メイクをご提案<br>コーディネートのご参考にどうぞ！</p>
    <div class="circles">
      <p class="spring"></p>
      <p class="summer"></p>
      <p class="autumn"></p>
      <p class="winter"></p>
    </div>
    <p>なりたい私を叶えるコーデをみつけよう！</p>
    <div id="btn" class="upload">
      <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="image" accept="image/png,image/jpeg" id="file-sample">
        <button type="submit">送信</button>
        <img id="file-preview">
      </form>
    </div>
  </div>
</body>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="/js/actList.js"></script>

</html>