<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
  <title>パーソナルメイク診断</title>
</head>

<body>
  <div class="contents">
    <h1>パーソナルメイク診断</h1>
    <div id="btn" class="upload">
      <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="image" accept="image/png,image/jpeg" id="file-sample">
        <button type="submit">送信</button>
　　　　 <img id="file-preview">
      </form>
      </div>
      <div id="topBtn">
        <form action="/re" method="post">
      <input type="submit" value="ホームに戻る" class="btns">
      </form>
    </div>
  </div>
</body>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript" src="/js/actList.js"></script>

<script>
document.getElementById('file-sample').addEventListener('change', function (e) {
  // 1枚だけ表示する
  var file = e.target.files[0];

  // ファイルのブラウザ上でのURLを取得する
  var blobUrl = window.URL.createObjectURL(file);

  // img要素に表示
  var img = document.getElementById('file-preview');
  img.src = blobUrl;
});
</script>
</html>