<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/server/static/css/style.css">
  <title>俳優類似度診断</title>
</head>

<body>
  <div class="contents">
      <h1>俳優類似度診断</h1>
      <p id="ansName" class="test">あなたは「ああああ」に10％似ています</p>
      <div id="actImg">
        <img src="/server/static/answer/吉沢亮.jpg" alt="aaaa"width="300" >
      </div>
      <div id="result">
        <p>"name": "阿部寛",<br>
        "birthday": "1964年6月22日(56歳)",<br>
        "bloodType": "A",<br>
        "work": "「トリック」「テルマエ・ロマエ」「ドラゴン桜」",<br>
        "wiki": "https://ja.wikipedia.org/wiki/%E9%98%BF%E9%83%A8%E5%AF%9B"</p>
      </div>
      <div id="btn">
        <div class="btns" id="twitter">
      <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large"
        data-text="診断してみました！" data-hashtags="サマーハッカソン" data-related="" data-show-count="false">Tweet</a>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8" ></script>
      </div>
      <form action="/ans" method="post">
        <input type="submit" value="もう一度あそぶ" class="btns">
      </form>
      <button class="btns">他の診断で遊んでみる</button>
      </div>
  </div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/actList.js') }}"></script>

  <script>
    window.onload = function getActData() {
      //ここで結果を受け取り、任意の変数に代入する

      var ans = '{{name}}';

      //$.getJSON('actData.json', function (data) {
      $.getJSON("http://localhost:8000/js/actData.json", function (data) {
        //↓actDataの配列内を検索
        for (var i = 0; i < Object.keys(data.actData).length; i++) {
          //↓結果と一致するnameの各データを取得し、画面に出力する

          if (ans == data.actData[i].name) {

            var parent = document.getElementById("result");
            var p = document.createElement("p");
            p.innerHTML = "生年月日：" + data.actData[i].birthday + "<br>血液型：" + data.actData[i].bloodType + "<br>代表作：" + data.actData[i].work + '<br>WikiPedia：<a href="' + data.actData[i].wiki + '">' + data.actData[i].wiki + "</a>";
            parent.appendChild(p);

            document.getElementById("actImg").innerHTML = '<img src = "http://localhost:8000/answer/' + data.actData[i].name + '.jpg" alt="' + data.actData[i].name + '" width="300">';
          }
        }
      })
    }

  </script>
</body>

</html>